body {
  margin: 0;
  font-family: Arial;
  background: #f4f7ff;
}

header {
  background: linear-gradient(90deg, #1e3cff, #6a5cff);
  color: white;
  text-align: center;
  padding: 25px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 15px;
}

button {
  background: #1e3cff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.oculto {
  display: none;
}

textarea {
  width: 100%;
  height: 120px;
}
